<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <context-param>
        <param-name>javax.faces.PROJECT_STAGE</param-name>
        <param-value>Development</param-value>
    </context-param>
    <servlet>
        <servlet-name>Faces Servlet</servlet-name>
        <servlet-class>javax.faces.webapp.FacesServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>PublisherService</servlet-name>
        <servlet-class>bookshop.PublisherService</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListController</servlet-name>
        <servlet-class>bookshop.ListController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchController</servlet-name>
        <servlet-class>bookshop.SearchController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddPublisherController</servlet-name>
        <servlet-class>BookStoreShop.AddPublisherController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchPublisherController</servlet-name>
        <servlet-class>BookStoreShop.SearchPublisherController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchActorController</servlet-name>
        <servlet-class>BookStoreShop.SearchActorController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddPublishersController</servlet-name>
        <servlet-class>BookStoreShop.AddPublishersController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddPublisher</servlet-name>
        <servlet-class>AddPublisher</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchPublisherByNameController</servlet-name>
        <servlet-class>BookStoreShop.SearchPublisherByNameController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Faces Servlet</servlet-name>
        <url-pattern>/faces/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PublisherService</servlet-name>
        <url-pattern>/PublisherService</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListController</servlet-name>
        <url-pattern>/ListController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchController</servlet-name>
        <url-pattern>/SearchController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddPublisherController</servlet-name>
        <url-pattern>/AddPublisherController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchPublisherController</servlet-name>
        <url-pattern>/SearchPublisherController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchActorController</servlet-name>
        <url-pattern>/SearchActorController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddPublishersController</servlet-name>
        <url-pattern>/AddPublishersController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddPublisher</servlet-name>
        <url-pattern>/AddPublisher</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchPublisherByNameController</servlet-name>
        <url-pattern>/SearchPublisherByNameController</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>faces/index.xhtml</welcome-file>
    </welcome-file-list>
</web-app>
